---
extends: base.j2
default_block: main
title: Flávio Codeço Coelho - página pessoal
description: Professor Associado -- Escola de Matemática Aplicada da FGV
---
{%block markdown%}
Sobre mim
---------
{%endblock%}
<section>
    <p> Sou Biólogo formado pela UFRJ, Mestre em Engenharia Biomédica pela Coppe/UFRJ, e
        PhD em Biologia Quantitativa pela The University of Texas at Arlington</p>
    <p>
        Meus interesses de pesquisa envolvem a modelagem matemática de sistemas complexos.
        Meus objetos de pesquisa concentram-se primáriamente na fronteira entre as ciências
        biológicas e as ciências sociais.
    </p>
</section>
<br><br>
{% from "macros.j2" import render_excerpt with context %}
<section class="blog_excerpt">
{% set latest = site.content.walk_resources_sorted_by_time()|first %}

{% if latest -%}
{{ render_excerpt(latest, 'post') }}

<a class="button white medium"
    href="{{ content_url(latest.url) }}">Read more&hellip;</a>

{%- endif %}

</section>
